.homepage-form__container {
  display: flex;
  flex-direction: column;
  padding: 3vh 15vw 2vh 15vw;
  background-color: #003580;
  color: white;
  text-align: center;
  justify-content: center;
  height: 320px;
  margin-top: 32px;
}
.input-button__form input {
  border-radius: 6px;
  padding: 12px;
  border: 0;
  margin-top: 2vw;
  margin-right: 1vw;
  margin-bottom: 3vw;
  width: 420px;
}
.input-button__form button {
  /* margin-top: 5vw; */
  border-radius: 6px;
  padding: 12px;
  background-color: #0071c2;
  border: none;
  color: white;
}
.homepage-form__container h1 {
  padding-bottom: 12px;
}
